[submodule "plugins/alert-system"]
	path = plugins/alert-system
	url = https://github.com/PI-coffeeBreak/alert-system-plugin
[submodule "plugins/webpush-notifications"]
	path = plugins/webpush-notifications
	url = https://github.com/PI-coffeeBreak/webpush-notifications-plugin
